*{
    margin: 0;
    padding: 0;
}
.container{
    min-width: 1600px;
    margin: 0 auto;
}
.header{
    background-image: url(img/fon.png);
    

}
.img_header{
    margin-top: 19px;
    margin-bottom: 19px;
    padding-left: 41px;
}
.menu{
    
}
.content{
    background: #F1E4E6;
}